<h1>People</h1>
<p><%= @msg %></p>
<table>
  <%= form_for(@person, url:{controller: 'people', action:'create'}) do |f| %>
      <tr>
        <th>Name</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>Age</th>
        <td><%= f.text_field :age %></td>
      </tr>
      <tr>
        <th>Mail</th>
        <td><%= f.text_field :mail %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "送信" %></td>
      </tr>
  <% end %>
</table>

<!--HTMLで記載-->
<!-- <table>
  <form action="/people/add" method="post">
    <tr>
      <th>Name</th>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><input type="text" name="age"></td>
    </tr>
    <tr>
      <th>Mail</th>
      <td> <input type="text" name="mail"> </td>
    </tr>
    <tr><th></th>
      <td> <input type="submit"> </td>
    </tr>
  </form>
</table> -->
